@model ServiciosProfesionales.Entities.Factura

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Factura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.RazonSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.RazonSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contribuyente.Rfc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contribuyente.Rfc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FolioFiscal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FolioFiscal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
